setuptools
Django
django-allauth
django-crispy-forms
crispy-bootstrap5
python-dotenv
django-extensions
django-widget-tweaks
razorpay
reportlab
gunicorn
qrcode
whitenoise
psycopg2-binary
dj-database-url
python-decouple 
pip install django-anymail[brevo]


